[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/adhishmalhotra
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/adhishmalhotra
	label-Verified = -1..+1 group user/adhishmalhotra
	push = group user/adhishmalhotra
	read = group user/adhishmalhotra
	rebase = group user/adhishmalhotra
	removeReviewer = group user/adhishmalhotra
	submit = group user/adhishmalhotra
[access "refs/heads/*"]
	create = group user/adhishmalhotra
	push = +force group user/adhishmalhotra
	pushMerge = group user/adhishmalhotra
	read = group user/adhishmalhotra
[access "refs/tags/*"]
	push = group user/adhishmalhotra
	push = +force group user/adhishmalhotra
